:root{
    --bg-color:rgb(29, 29, 29);
    --moviebg:black;
    --overviewbg:white;
}
body{
    background-color: var(--bg-color);
    font-family: cursive; 
}
nav{
    height:50px;
}
.searchwrapper{
    display:flex;
    position:relative;
    top:15px;
    justify-content:flex-end;
    align-items:center ;
}
.search{
    width:150px;
    height:18px;
    border-radius: 15px;
    border:none;
    outline:none;
    padding:5px;
}
.moviewrapper{
    width:200px;
    margin:10px 10px;
    position:relative;
    overflow:hidden;
   


}
.movieimg{
    width:inherit;
    height:300px;
    border-radius:10px 10px 0 0;
    
}
main{
    display:flex;
    flex-wrap:wrap; 
    justify-content: center;   
}
.moviedesc{
    color:white;
    
    justify-content: space-between;
    align-items: center;
   
    

}
.moviedesc>div{
    margin-bottom:5px;
}
.moviedesc h3{
    margin-top:0;
}
.moviedesc span{
    background-color:black;
    padding:2px 5px;
    border-radius: 5px;
}
/*.movieoverview{
    background-color:var(--overviewbg);
    font-size: 12px;
    padding:10px;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    max-height:80%;
    transition:transform 0.4s ease;

 transform:translateY(101%);
}*/
/*
.moviewrapper:hover .movieoverview{
    transform:translateY(0);
    transition:transform 0.4s ease;
}*/
.moviewrapper{
    animation:ani 1s ease 0s forwards;
}
@keyframes ani{
    0%{
        opacity:0;
        transform:scale(0.8)
    }
    100%{
        transform:scale(1);
        opacity:1;
    }

}
.link{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
}

.pagination{

    width:170px;
    margin:10px auto;
    display:flex;
    justify-content: space-between;
    
}
.pagination>button{
    border:none;
    width:75px;
    height:30px;
    background-color: black;
    color:white;
    cursor:pointer;
    padding:0;
  
}
.pagination>button:active{
    transform:scale(0.9);
}
.homebtn{
    background-color: black;
    color:white;
    padding:5px;
    box-sizing: border-box;
    height:30px;
    margin-right:20px;
    border-radius:10px;
    cursor:pointer;
    border:1px solid black;
    transition:border 0.5s;
}
.homebtn:hover{
    border:1px solid white;
    
} 
.logo>img{
    height:50px;
    width:50px;
}
.logo{
    position:absolute;
    font-size: 25px;
    color:white;
    font-weight:600;
    cursor:pointer;
    height:30px;
}
.logo>span{
    font-size:10px;
}
